#directories
vendor/
.data/rabbitmq/*
.logs/rabbitmq/*

#files
.env
composer.local.json
composer.lock
development.config.php
local.php
.php_cs.cache
phpstan.neon
.php_cs.php


#IDE
.idea/
.vscode/
workspace.code-workspace
